* {
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* start nab bar */
header {
    /* padding: 40px 100px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav>a {
    margin-bottom: 40px;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo h1 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.name {
    color: #ff42a5
}

.logo img {
    width: 86px;
    height: 40px;
    align-items: center;
    margin-top: 45px;
}

.btn {

    width: 200px;
    height: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    text-align: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

/* end nav bar */

/* start banner section */

.banner {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-top: 120px;
}

.banner-title {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    width: 500px;
}

.banner-header {
    color: #0B0223;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;

}

.banner-header2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    /* color: #ff42a5  */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-des {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn2 {
    padding: 20px 40px;
    background-color: #ff42a5;
    color: white;
    border: none;
    border-radius: 48px;
}

.btn3 {
    padding: 20px 40px;
    background: #4EC5F7;
    color: white;
    border: none;
    border-radius: 48px;
}

/* end banner section */
/* start play game section */
.game-section {
    margin-top: 120px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;

}

.name2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-des {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.game-header {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.game-img1 {
    background-image: url(images/Rectangle\ 4.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img2 {
    background-image: url(images/Rectangle\ 5.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img3 {
    background-image: url(images/Rectangle\ 7.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img4 {
    background-image: url(images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.game-title {
    text-align: center;
    padding-top: 100px;
    display: none;
    width: 250px;
    height: 200px;
    border-radius: 16px;

}

.game-img1:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img2:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img3:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img4:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 300px;
    text-align: center;
}

/* end play game section */

/* media query */
/* mobile device */
@media screen and (max-width:570px) {
    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        margin-right: 50px;

    }

    /* start banner */
    .banner {
        flex-direction: column-reverse;
        gap: 100px;
        padding: 30px;
    }

    .banner-img {
        width: 300px;
    }

    /* end banner */
    /* start game section */
    .game-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 50px;
        gap: 120px;
    }

    /* end game secton */
}

/* medium device */
@media screen and (min-width:570px)and(max-width:990px) {
    .game-container {
        grid-template-columns: repeat(2, 1fr);
    }
}