* {
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* start nab bar */


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;

}

header {
    padding: 20px 100px;
    margin: 0 auto;
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav>a {
    margin-bottom: 40px;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo h1 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.name {
    color: #ff42a5
}

.logo img {
    width: 86px;
    height: 40px;
    align-items: center;
    margin-top: 45px;
}

.btn {

    width: 200px;
    height: 30px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    text-align: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

}

/* end nav bar */

/* start banner section */

.banner {
    display: flex;
    align-items: center;
    gap: 300px;
    margin-top: 120px;
}

.banner-title {
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-img {
    width: 500px;
}

.banner-header {
    color: #0B0223;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;

}

.banner-header2 {
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    /* color: #ff42a5  */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-des {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.btn2 {
    padding: 20px 40px;
    background-color: #ff42a5;
    color: white;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

.btn3 {
    padding: 20px 40px;
    background: #4EC5F7;
    color: white;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}

/* end banner section */
/* start play game section */
.game-section {
    margin-top: 120px;

}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;

}

.name2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-des {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.game-header {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.game-img1 {
    background-image: url(images/Rectangle\ 4.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img2 {
    background-image: url(images/Rectangle\ 5.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img3 {
    background-image: url(images/Rectangle\ 7.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.game-img4 {
    background-image: url(images/Rectangle\ 6.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 16px;

}

.game-title {
    text-align: center;
    padding-top: 100px;
    display: none;
    width: 250px;
    height: 200px;
    border-radius: 16px;

}

.game-img1:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img2:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img3:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.game-img4:hover .game-title {
    display: block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.60)100%);
    color: #F948B2;
    border: 2px solid #F948B2;
}

.p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 300px;
    text-align: center;
    display: block;
}

/* start playgame */
.playgame {
    margin-top: 200px;
    display: flex;
    gap: 100px;
}

.paly-game-title {
    text-align: center;
}

.play-header {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}

.play-des {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;

}

.play-game-img1 {
    width: 630px;
    height: 650px;
}

.play-game-img2 {
    padding: 40px;
    height: 100px;
    position: relative;
    bottom: 300px;
    right: 200px;
    color: #fff;
}


/* end play game section */
/* start button */
.button-section {}

.button-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.button-cart {
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    gap: 20px;
    text-align: center;
    padding: 15px 30px;
}

.button-cart:hover {
    border-radius: 50px;
    border: 5px solid #F948B2;
    color: #F948B2;
    align-items: center;
}

/* end button */
/* start footer */


.footer {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
    background-color: #0A0826;
    color: white;
}

.footer-head {
    color: #fff;
    font-size: 24px;
    font-weight: 700;

}

.icon {
    color: #FFF;
    gap: 20px;

}


.logo2 {
    justify-content: center;
    padding-top: 100px;
}

.logo2 {
    display: flex;
    gap: 5px;
}

.logo2 h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.name {
    color: #ff42a5
}

.logo2 img {
    width: 86px;
    height: 40px;
    align-items: center;
    margin-top: 45px;
}

.footer-des {
    display: flex;
    gap: 30px;
    padding-top: 10px;
    margin: 0 auto;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-des a {
    color: #fff;
    text-decoration: none;
}

.footer-desp a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    gap: 30px;
    text-decoration: none;

}
.footer-desp{
    gap: 30px;
    padding-top: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}


/* 
.footer {
    margin-top: 120px;
    width: 100%;
    height: 120vh;
    background-color: #0B0223;
    color: #fff;
    text-align: center;
}

.footer-des {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    margin: 0 auto;
    color: #FFF;
     align-items: center;
     justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.footer-des a{
    color: #fff;
    text-decoration: none;
}
.logo2{
    justify-content: center;
      padding-top: 100px;
}

.logo2 {
    display: flex;
    gap: 5px;
}

.logo2 h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.name {
    color: #ff42a5
}

.logo2 img {
    width: 86px;
    height: 40px;
    align-items: center;
    margin-top: 45px;
}

.footer .logo h1 {
    color: #fff;
}
.icon{
    gap:50px;
   padding: 50px;
   margin: 10px;
} */
/* end footer */
/* media query */
/* mobile device */
@media screen and (max-width:570px) {
    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        margin-right: 50px;

    }

    /* start banner */
    .banner {
        flex-direction: column-reverse;
        gap: 100px;
        padding: 30px;
    }

    .banner-img {
        width: 300px;
    }

    /* end banner */
    /* start game section */
    .game-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 50px;
        gap: 120px;
    }

    /* end game secton */
    /* start play game */
    .playgame {
        flex-direction: column;
        padding: 50px;

    }

    /* .play-game-container {
        width: 100px;
        height: 100px;
    } */

    .play-game-img1 {
        width: 400px;
        height: 550px;


    }

    .play-game-img2 {
        width: 80px;
        height: 165;

    }

    /* end play game */
    /* start button */

    .button-content {
        grid-template-columns: repeat(1, 1fr);
    }

    /* end button */
    /* start footer */
    .footer {
        height: 150vh;
    }

    .footer-des {
        flex-direction: column;
        gap: 10px;
    }

    /* end footer */
}

/* medium device */
@media screen and (min-width:570px)and(max-width:990px) {
    .game-container {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        max-width: 1440px;
    }
}